.standard-card {
  height: 90px;
  border: 1px solid black;
}

.standard-card-top {
  background-color: rgb(1,63,78);
  height: 45px;
  padding-top: 10px;
}

.standard-card-title {
  color: white;
  font-size: 12pt;
}

.standard-card-bottom {
  padding-top: 10px;
}

.standard-card-text{
  font-weight: bold;
}
