.standard-card {
  height: 90px;
  border: 1px solid black;
}

.standard-card-top {
  background-color: rgb(1,63,78);
  height: 35px;
  padding-top: 7px;
}

.standard-card-title {
  color: white;
  font-size: 12pt;
  margin-left: 46px;
}

.standard-card-bottom {
  padding-top: 16px;
}

.standard-card-text{
  font-weight: bold;
}

.icon {
  color: #00AB8E;
  float: right;
  margin-right: 15px;
}
